<a href="https://colab.research.google.com/github/denverkim/DataAnalysis/blob/main/1_1_1_%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%94%84%EB%A0%88%EC%9E%84_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Create a data frame with your class information (courseID, courseName, creditHours, Days) and save it as an Excel file. 이번학기에 듣는 클래스의 정보를 이용하여 데이터프레임을 만든후 엑셀파일로 저장하시요

class_info = {
    'courseID': ['11111', '22222', '33333'],
    'courseName': ['math', 'science', 'english'],
    'creditHours': [3, 4, 2],
    'Days': ['Monday', 'Tuesday', 'Wednesday']
}

import pandas as pd

df = pd.DataFrame(class_info)
print(df)

df.to_excel('class_info.xlsx', index=False)

  courseID courseName  creditHours       Days
0    11111       math            3     Monday
1    22222    science            4    Tuesday
2    33333    english            2  Wednesday